html,
body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  background-color: black;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

#mods {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  background-color: rgba(0, 150, 0, 0.3);
  width: fit-content;
  position: absolute;
  padding: 1rem;
}

#mods button:first-child {
  margin-bottom: 5px;
}

#count, #mods label {
  color: white;
}

::selection {
  background-color: lime;
  color: black;
}